@using Template;
@* ----------------------------comment-------------------------- *@
@("@"){
    ViewBag.Title = "@Model.Title";
}
@if(@Model.Bundle!="")
{
<text>@("@")Scripts.Render("~/bundles/cms/@Model.Bundle");</text>
}

@* ----------------------------comment-------------------------- *@
<div  ng-controller="@iTemplate.ControllerName(@Model.TableName) as master">
<!-- START : MAIN  --------------------------------------------->
<div class="container-fluid none-display" ng-class="{'active-content' : true}">
    <div >
        <!-- TOP BUTTONS -------------------->
        <div class="row" >
            <div class="col-sm-6" >
                <h4>{{master.ObjectTitle}}</h4>
            </div>
            <div class="col-sm-6 pull-right text-right" >
                

                <button class="btn btn-default" ng-click="master.CancelAll()" ng-if="master.isEditing">
                    <i class="fa fa-remove"></i>
                </button>

                <button class="btn btn-primary" ng-click="master.SaveAll()" ng-if="master.isEditing" ng-disabled="!master.TableForm.hasChanges()">
                    <i class="fa fa-check white"></i> Lưu
                </button>

                <button class="btn btn-warning" ng-click="master.EditAll()" ng-if="!master.isEditing" ng-disabled="!master.FormConfig._CanUpdate">
                    <i class="fa fa-edit white"></i> Sửa
                </button>
                
                <button class="btn btn-success "  ng-disabled="!master.FormConfig._CanCreate" ng-click="master.AddItem()">
                    <i class="fa fa-plus white"></i> Thêm
                </button>
                
            </div>

        </div>

        <!-- FORM -------------------->
        <div class="box box-primary box-body">
        <div class="row " >
            <div class="col-sm-12">
            <form name="dataForm" novalidate ng-submit="master.Search()">
                <div class="row">
                    <div class="col-md-6">
                        @foreach (var col in @Model.Columns)
                        {
                            if (col.IsFilter && col.Position == EPosition.LEFT)
                            {
                                @iTemplate.HTML_Column_In_SearchForm("master",col);
                            }
                        }
                    </div>

                    <div class="col-md-6">
                        @foreach (var col in @Model.Columns)
                        {
                            if (col.IsFilter && col.Position == EPosition.RIGHT)
                            {
                                @iTemplate.HTML_Column_In_SearchForm("master",col);
                            }
                        }
                    </div>
                </div>

                <!-- buttons -->
                <div class="row" >
                     <div class="col-md-6" >
                        
                        <!--- Clear --->
                        <button class="btn btn-primary" ng-click="master.ClearForm()" type="button">
                            <i class="fa fa-undo white"></i> Clear
                        </button>

                        <!--- Search --->
                        <button type="submit" id="btn-search" class="btn  btn-primary search"  >
                            <i class="fa fa-search" ng-hide="master.isSearching"></i>
                            <i class="fa fa-spinner white loading" ng-show="master.isSearching"></i>
                            Tìm kiếm
                        </button>
                    </div>
                </div>
            </form>
        
            </div>
        </div>
        </div>
        
        <!-- TABLE -------------------->
        <div class="row">
            <div class="col-md-12 table-responsive">
                <table  class="table table-responsive  table-bordered table-striped table-hover table-condensed editable-table no-margin" 
                    ng-form="master.TableForm._tableForm" 
                    ng-table="master.TableForm.tableParams"
                    demo-tracked-table="master.TableForm._tableTracker"
                    disable-filter="master.TableForm.isAdding" >
                    <tr ng-repeat="row in $data" ng-form="rowForm" demo-tracked-table-row="row">
                        <td title="'#'" class="col-center">
                            <span>{{ ((master.TableForm.tableParams.page() - 1)  *master.TableForm.tableParams.count()) + ($index +1) }}</span>
                        </td>
                        @{var count_column = 2;}
                        <!--------- data columns -------------->
                        @foreach (var col in @Model.Columns)
                        {
                            if(col.IsView)
                            {
                                @iTemplate.HTML_Column_In_EditTable("row",col);
                                count_column++;
                            }
                        }
                        <!---------command buttons -------------->  
                        <td width="100px" >
                            <!---edit--->
                            <button class="btn btn-default btn-sm" ng-click="master.TableForm.edit(row)" 
                                ng-if="!(row.isEditing || master.TableForm.isEditing) && master.FormConfig._CanUpdate"><span class="glyphicon glyphicon-pencil"></span></button>

                            <!---save--->
                            <button class="btn btn-primary btn-sm" ng-click="master.TableForm.save(row, rowForm)" 
                                ng-if="(row.isEditing || master.TableForm.isEditing) && master.FormConfig._CanUpdate" ng-disabled="rowForm.$pristine || rowForm.$invalid"><span class="glyphicon glyphicon-ok"></span></button>             
                            
                            <!---cancel--->
                            <button class="btn btn-default btn-sm" ng-click="master.TableForm.cancel(row, rowForm)"
                                ng-if="(row.isEditing || master.TableForm.isEditing)"><span class="glyphicon glyphicon-remove"></span></button>
                            

                            <!----del--->
                            <button class="btn btn-danger btn-sm" ng-click="master.TableForm.del(row)" 
                                ng-if="!(row.isEditing || master.TableForm.isEditing) && master.FormConfig._CanDelete"><span class="glyphicon glyphicon-trash"></span></button>
                        </td>
                    </tr>
                    <!--------------- table footer------------------>
                    <tfoot>
                        <tr>
                            <td colspan="@count_column"><label>Số dữ liệu : {{master.TableForm.tableParams.total()}} </label></td>
                        </tr>
                    </tfoot>
                </table>
                <div style="clear:both"></div>
            </div>
        </div>

    </div>
</div>
<!-- END   : MAIN  --------------------------------------------->

<!-- START : MODAL --------------------------------------------->
<div>
</div>
<!-- END   : MODAL --------------------------------------------->

</div>


<!-- MAIN SCRIPT  --------------------------------------------->
<script type="text/javascript">
    CHUNOApp.controller('@iTemplate.ControllerName(@Model.TableName)', ['$scope', '$rootScope', 'NgTableParams', '$controller', '$q', '$timeout',
function ($scope, $rootScope, NgTableParams, $controller, $q, $timeout) {
    $controller('CommonController', { $scope: $rootScope });
    $scope.masterController = this;
    

    var self = this;
    self.ObjectTitle = "@Model.Title";
    //========================================================
    //Controller Properties
    self.isEditing = false;
    self.isSaving = false;
    self.isLoadingImage = false;
    //======================================
    //form config
    var config = new DataFormConfig();
    {
        config.dataobject = '@Model.TableName';
        config.columns = ['Id',
            @foreach(var col in @Model.Columns)
            {
            @iTemplate.JS_Column_On_FormConfig("",col)
            }
            ].join(';'); //ko dc
        config.sort = '@iTemplate.TableDotColumn(@Model.TableName,"Id") DESC';
        config.condition = '(@iTemplate.TableDotColumn(@Model.TableName,"IsActive") = 1 )';
        config.action = 'getall'; //getall/get
        config.startrow = 0;
        config.endrow = 10;
    }

    self.FormConfig = config;
    self.FormConfig._CanCreate = true;
    self.FormConfig._CanUpdate = true;
    self.FormConfig._CanDelete = true;

    //form object
    self.NewObject = function () {
        return {
            Id: 0,   
            @foreach(var col in @Model.Columns){
            @iTemplate.JS_Column_On_NewObject("",col)
            }
            Version: 0,
            IsActive: true
        };
    }
    self.DataObject = self.NewObject();

    self.FormObject = new DataObject('@Model.TableName', $scope);
    self.FormObject.SetObject(self.DataObject);
    //======================================
    self.ClearForm = function () {       
        @foreach(var col in @Model.Columns)
        {
            if(col.IsImage)
            {
        <text>
        $("#input_@col.Name").val("");
        $("#img_@col.Name").attr("src", CommonHelper.GetImageSrc(0));
        </text>
            }
        }

        self.DataObject = self.NewObject();

    }

    self.AddItem = function () {
        self.TableForm.add();
    };

    self.EditAll= function(){
        self.isEditing = self.TableForm.isEditing = true;
    }

    self.SaveAll = function(){
        var ok = self.TableForm.saveChanges();
        if(ok){
            self.isEditing = self.TableForm.isEditing = false;
            //load lai data
            self.ReloadTable(self.TableForm);
        }
    }

    self.CancelAll= function(){
        self.isEditing = self.TableForm.isEditing = false;
        self.TableForm.cancelChanges();
    }

    self.Edit = function (object, rowForm) {
        //self.isEditing = true;
        object.isEditing = true;
    }

    self.SaveForm = function () {
        self.isSaving = true;
        setTimeout(function () {
            //change something wrong
            @foreach(var col in @Model.Columns)
            {
                if(col.IsForeignKey && !col.IsImage && !col.IsFile){
            <text>
            if (self.DataObject.@col.Name == '' || self.DataObject.@col.Name == 0)
                self.DataObject.@col.Name = '';
            </text>
                }
            }
            //=====================
            //save img
            @foreach(var col in @Model.Columns)
            {
                if(col.IsImage)
                {
            <text>
            if ($('#input_@col.Name')[0].files.length > 0) {
                var file = $('#input_@col.Name')[0].files[0];
                var formData = new FormData();
                formData.append('file', file);

                var imgid = "";
                $.ajax({
                    url: _data_service_saveimage,
                    type: 'POST',
                    data: formData,
                    async: false,
                    processData: false,  // tell jQuery not to process the data
                    contentType: false,  // tell jQuery not to set contentType
                    success: function (data) {
                        if (typeof (data) == 'string' && data.startsWith("#error")) {
                            ShowErrorMessage(data);
                            imgid = '';
                        }
                        else {
                            imgid = data;
                        }
                    }
                });
                //set image id to DataObject
                self.DataObject.@col.Name = imgid;          
            }
            </text>
                }
            }
            
            //---------------------
            var isAdd = self.DataObject.Id <= 0 ? true : false;
            self.SaveObject(self.DataObject);
            if (isAdd) {
                self.ClearForm();
            }
            self.ReloadTable(self.TableForm);

            self.isSaving = false;
            $scope.$apply();
        }, 100);
    }

    self.SaveObject = function (object ,rowForm) {
        self.FormObject.SetObject(object);
        var Id = self.FormObject.SaveObject();
        if (Id > 0) {
            self.DataObject.Id = Id;

            ShowSuccessMessage("Đã lưu thành công!");
        }
        return Id;
    }

    self.SaveListObject = function (objs){
        self.FormObject.SetListObject(objs);

        var ok = self.FormObject.SaveListObject();
        if(ok){
            ShowSuccessMessage("Đã lưu thành công!");
        }

        return ok;
    }

    self.DeleteObject = function (object) {
        ShowConfirmModal("Bạn có muốn xóa [@Model.Title] " + object.Id + " - " + object.Name + "?",
            function () {
                if (self.FormObject.DeleteObject(object.Id)) {

                    self.ReloadTable(self.TableForm);
                    ShowSuccessMessage("Đã xóa thành công!");
                }
            });
    }

    //======================================
    //tableform
    self.TableForm = new StaticTableForm(NgTableParams, $q, self,$scope, function (params) {
        var config = {};
        $.extend(config, self.FormConfig);
        //===========================    
        var filter = params.filter();
        var sorting = params.sorting();
        var pagesize = params.count();
        var page = params.page();
        //===========================    
        //condition
        var conditionarr = [];
        for (var key in filter) {
            var column = '@Model.TableName' +'.' + key;
            if (key.indexOf('.') >= 0)
                column = key;
            var cond = CommonHelper.CreateCondition(column, filter[key]);
            conditionarr.push(cond);
        }
        if (conditionarr.length > 0) config.condition += (config.condition == '' ? '' : ' AND ') + conditionarr.join(" AND ");

        //sort
        var sortnarr = [];
        for (var key in sorting) {
            var column = '@Model.TableName' +'.' + key;
            if (key.indexOf('.') >= 0)
                column = key;
            sortnarr.push(column + " " + sorting[key] + "");
        }

        if (config.sort != '') sortnarr.push(config.sort);
        config.sort = sortnarr.join(",");
        //===========================
        return config;
    });

    self.ReloadTable = function (tableForm) {
        if(tableForm==undefined)
            tableForm =  self.TableForm;

        tableForm.loadData();
    }
    //======================================
    self.Search = function () {
        if (self.DataObject == undefined) return;
        //===================================
        var object = self.DataObject;
        var filterobj = {};

        @foreach(var col in @Model.Columns)
        {
            if(col.IsFilter)
            {
            @iTemplate.JS_Column_On_Filter("",col);
            }
        }
        self.TableForm.search(filterobj);
    };

    self.showloading = function () { self.isSearching = true; }
    self.hideloading = function () { self.isSearching = false; }


    //=======================================
    //init - data
    @foreach(var col in @Model.Columns)
    {
        if(col.IsImage)
        {
    <text>
    $("#img_@col.Name").click(function () {
        $("#input_@col.Name").click();
    });
    $("#input_@col.Name").change(function (e) {
        self.isLoadingImage = true;
        $scope.$apply();
        setTimeout(function () {
            var reader = new FileReader();
            reader.onload = function (e) {
                $("#img_@col.Name").attr('src', e.target.result);
                self.isLoadingImage = false;
                $scope.$apply();
            }
            reader.readAsDataURL(e.target.files[0]);
        }, 100);
    });
    </text>
        }
    }

    
}
]);

</script>

<!-- MODEL SCRIPT  --------------------------------------------->

