@{
    ViewBag.Title = "CCTVControl";
}
<div ng-controller="cctvcontroller">
    <div class="container-fluid">
        <!-- TOP BUTTONS -------------------->
        <div class="row">
                <div class="col-sm-12">
                    <h4>Điều khiển CCTV</h4>
                </div>
        </div>
        <div class="row">
            <!------------LIST OBJECT------------------------>
            <div class="col-md-4">
                <!-------SEARCH------------>
                <div class="row">
                    <form name="searchForm" novalidate ng-submit="Search()">
                    <div class="col-md-8">
                        <input class="form-control" ng-model="SearchDataObject.Name"/>
                    </div>
                    <!--- Search BUTOON --->
                    <div class="col-md-4">
                        <button type="submit" id="btn-search" class="btn  btn-primary search">
                            <i class="fa fa-search" ng-hide="isSearching"></i>
                            <i class="fa fa-spinner white loading" ng-show="isSearching"></i>
                        </button>
                    </div>
                    </form>
                </div>

                <!-- TABLE -------------------->
                <div class="row">
                    <div class="col-md-12 table-responsive">
                        <table class="table table-bordered table-striped table-hover table-condensed editable-table no-margin"
                            ng-table="TableForm.tableParams">
                            <tr ng-repeat="row in $data" n>
                                <td title="'#'" class="col-center">
                                    <span>{{ ((TableForm.tableParams.page() - 1)  *TableForm.tableParams.count()) + ($index +1) }}</span>
                                </td>

                                <!--------- data columns -------------->
                                <td title="'Mã'" sortable="'Code'">
                                    <span class="editable-text" ng-bind="row.Code"></span>
                                </td>
                                <td title="'Tên'" sortable="'Name'">
                                    <span class="editable-text" ng-bind="row.Name"></span>
                                </td>
                              
                                
                                <!---------command buttons -------------->
                                <td >
                                    <!---view--->
                                    <button class="btn btn-default btn-sm" ng-click="ViewCCTV(row)">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>

                                    
                                </td>
                            </tr>
                            <!--------------- table footer------------------>
                            <tfoot>
                                <tr>
                                    <td colspan="9">
                                        <label>Số dữ liệu : {{TableForm.tableParams.total()}} </label>
                                    </td>
                                </tr>
                            </tfoot>

                        </table>
                        <div style="clear: both"></div>
                    </div>
                </div>
            </div>

            <!-------------OBJECT DETAIL--------------------->
            <div class="col-md-8">
                <div class="box box-primary box-body">
                    <h4>{{SelectedCCTV.Code}} - {{SelectedCCTV.Name}}</h4>

                    <div class="row">
                    
                        <!---live view-->
                        <div class="col-md-8">
                            <div>
                                @*<img alt="Camera" src="@Url.Content("~/Content/device/cctv/cctv-demo.png")" style="width:100%"/>*@
                                <iframe ng-src="http://root:root@172.28.12.102/mjpg/video.mjpg" width="500px" height="300px" ng-style="{'display' : 'none'}" id="videoframe"></iframe>
                                <img ng-src="http://172.28.12.102/mjpg/video.mjpg" style="width:100%;min-height:300px; max-width:700px;max-height:500px;    display: block;margin-left: auto;margin-right: auto;" alt="@Url.Content("~/Content/device/cctv/cctv-demo.png")"/>
                            </div>
                            <div class="row" style="margin-top:20px">
                                <div class="col-md-6  col-xs-6">
                                    <table>
                                        <tr>
                                            <td style="width:30px;height:30px" align="center" ><button class="btn" ng-click="CCTV_moveLeftTop()"><img src="@Url.Content("~/Content/direction-arrow/left-top.png")" width="20px"/></button></td>
                                            <td style="width:30px;height:30px" align="center" ><button class="btn" ng-click="CCTV_moveUp()"><img src="@Url.Content("~/Content/direction-arrow/up.png")" width="20px"/></button></td>
                                            <td style="width:30px;height:30px" align="center" ><button class="btn" ng-click="CCTV_moveRightTop()"><img src="@Url.Content("~/Content/direction-arrow/right-top.png")" width="20px"/></button></td>
                                        </tr>
                                        <tr>
                                            <td style="width:30px;height:30px" align="center" ><button class="btn" ng-click="CCTV_moveLeft()"><img src="@Url.Content("~/Content/direction-arrow/left.png")" width="20px"/></button></td>
                                            <td style="width:30px;height:30px" align="center" ></td>
                                            <td style="width:30px;height:30px" align="center" ><button class="btn" ng-click="CCTV_moveRight()"><img src="@Url.Content("~/Content/direction-arrow/right.png")" width="20px"/></button></td>
                                        </tr>
                                        <tr>
                                            <td style="width:30px;height:30px" align="center" ><button class="btn" ng-click="CCTV_moveLeftBottom()"><img src="@Url.Content("~/Content/direction-arrow/left-bottom.png")" width="20px"/></button></td>
                                            <td style="width:30px;height:30px" align="center" ><button class="btn" ng-click="CCTV_moveDown()"><img src="@Url.Content("~/Content/direction-arrow/down.png")" width="20px" /></button></td>
                                            <td style="width:30px;height:30px" align="center" ><button class="btn" ng-click="CCTV_moveRightBottom()"><img src="@Url.Content("~/Content/direction-arrow/right-bottom.png")" width="20px"/></button></td>
                                        </tr>
                                    </table>
                                </div>

                                <div class="col-md-6 col-xs-6">
                                    <table>
                                        <tr>
                                            <td><button class="btn" ng-click="CCTV_zoomIn()"><img src="@Url.Content("~/Content/direction-arrow/up.png")" width="20px"/></button></td>
                                            <td></td>
                                            <td><button class="btn" ng-click="CCTV_focusIn()"><img src="@Url.Content("~/Content/direction-arrow/up.png")" width="20px"/></button></td>
                                        </tr>
                                        <tr>
                                            <td>Zoom</td>
                                            <td width="30px"></td>
                                            <td>Focus</td>
                                        </tr>
                                        <tr>
                                            <td><button class="btn"  ng-click="CCTV_zoomOut()"><img src="@Url.Content("~/Content/direction-arrow/down.png")" width="20px"/></button></td>
                                            <td></td>
                                            <td><button class="btn"  ng-click="CCTV_focusOut()"><img src="@Url.Content("~/Content/direction-arrow/down.png")" width="20px"/></button></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                        </div>

                        <!---info--->
                        <div class="col-md-4">
                            <div class="row">
                                CompanyName : 
                                <div>
                                <label class="form-control" >{{SelectedCCTV.CompanyName}}</label>
                                </div>
                            </div>
                            <div class="row">
                                IPAddress : 
                                <div>
                                <label class="form-control" >{{SelectedCCTV.IPAddress}}</label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    CHUNOApp.controller('cctvcontroller', ['$scope', 'NgTableParams', '$controller', '$q', '$timeout',
    function ($scope, NgTableParams, $controller, $q, $timeout) {
        $controller('CommonController', { $scope: $scope });

        console.log($scope.name);
        var dataService = new DataService({});
        dataService.config = {};
        dataService.config.dataobject = "T_TMS_CCTV_Device";
        dataService.config.columns = "Id;Name;Code;IPAddress";
        dataService.config.action = "getall";
        dataService.config.sort = "Name";

        //dataService.config.condition = "";
        dataService.config.condition = "(Name LIKE ''%%'' OR Code LIKE ''%%'')";

        dataService.config.numdata = 5;
        dataService.config.startrow = 1;
        dataService.config.endrow = 5;

        var listData = dataService.GetListData();
        $scope.list = listData;
        
        $scope.SearchDataObject = {
            Name : ''
        };

        $scope.SelectedCCTV = {
            Id : 0,
            Name: '...'
        };
        //======================================
        //form config
        var config = new DataFormConfig();
        {
            config.dataobject = 'T_TMS_CCTV_Device';
            config.columns = ['Id',
                            'Code',
                            'Name',
                            'CompanyName',
                            'ModuleName',
                            'DeviceTyped',
                            'DeviceTyped.Name , DeviceTyped_Name',
                            'DeviceGroupId',
                            'DeviceGroupId.Name , DeviceGroupId_Name',
                            'SetupDate',
                            'SetupInfo',
                            'SetupSpot',
                            'ZoneId',
                            'ZoneId.Name , ZoneId_Name',
                            'Lng',
                            'Lat',
                            'IPAddress',
                            'ConnectPort',
                            'IsUse',
            ].join(';'); //ko dc
            config.sort = 'T_TMS_CCTV_Device.Id DESC';
            config.condition = '(T_TMS_CCTV_Device.IsActive = 1 )';
            config.action = 'get'; //getall/get
            config.startrow = 0;
            config.endrow = 10;
        }

        $scope.FormConfig = config;
        $scope.FormConfig._CanCreate = true;
        $scope.FormConfig._CanUpdate = true;
        $scope.FormConfig._CanDelete = true;
        //====================
        //tableform
        $scope.TableForm = new DynamicTableForm(NgTableParams, $q, self, function (params) {
            var config = {};
            $.extend(config, $scope.FormConfig);
            //===========================    
            var filter = params.filter();
            var sorting = params.sorting();
            var pagesize = params.count();
            var page = params.page();
            //===========================    
            //condition
            var conditionarr = [];
            for (var key in filter) {
                var column = 'T_TMS_CCTV_Device' + '.' + key;
                if (key.indexOf('.') >= 0)
                    column = key;
                var cond = CommonHelper.CreateCondition(column, filter[key]);
                conditionarr.push(cond);
            }
            if (conditionarr.length > 0) config.condition += (config.condition == '' ? '' : ' AND ') + conditionarr.join(" AND ");

            //sort
            var sortnarr = [];
            for (var key in sorting) {
                var column = 'T_TMS_CCTV_Device' + '.' + key;
                if (key.indexOf('.') >= 0)
                    column = key;
                sortnarr.push(column + " " + sorting[key] + "");
            }

            if (config.sort != '') sortnarr.push(config.sort);
            config.sort = sortnarr.join(",");
            //===========================
            return config;
        });

        $scope.Search = function () {
            if ($scope.SearchDataObject == undefined) return;
            //===================================
            var object = $scope.SearchDataObject;
            var filterobj = {};



            if (!CommonHelper.IsNullOrEmpty(object.Name)) {
                filterobj = { Name: object.Name };
            }


            $scope.TableForm.search(filterobj);
        };

        $scope.ViewCCTV = function (cctv) {
            $scope.SelectedCCTV = cctv;
        }
        


        //=================================
        //CCTV Camera function
        var url_camera_action = '@Url.Action("Control", "CCTV")';
        function control_camera(cctvid, par, value1, value2) {
            var pars = {
                cctvid: cctvid,
                par: par,
                value1: value1,
                value2: value2
            };

            AjaxSync(url_camera_action, JSON.stringify(pars));
        }
        /*
        rpan=<float>5 -360.0 ... 360.0
        rtilt=<float>5 -360.0 ... 360.0
        rzoom=<int>5 -9999 ... 9999
        rfocus=<int> -9999 ... 9999
        */

        var delta_pan = 5;
        var delta_tilt = 5;
        var delta_zoom = 20;
        var delta_focus = 20;
        //--
        $scope.CCTV_moveLeftTop = function () {
            //if ($scope.SelectedCCTV.Id <= 0) return;
            control_camera($scope.SelectedCCTV.Id, 'lefttop', -delta_pan, delta_tilt);
        }

        $scope.CCTV_moveUp = function () {
            //if ($scope.SelectedCCTV.Id <= 0) return;
            control_camera($scope.SelectedCCTV.Id, 'up', delta_tilt);
        }

        $scope.CCTV_moveRightTop = function () {
            //if ($scope.SelectedCCTV.Id <= 0) return;
            control_camera($scope.SelectedCCTV.Id, 'righttop', delta_pan, delta_tilt);
        }
        //--
        $scope.CCTV_moveLeft = function () {
            //if ($scope.SelectedCCTV.Id <= 0) return;
            control_camera($scope.SelectedCCTV.Id, 'left', -delta_pan);
        }

        $scope.CCTV_moveRight = function () {
            //if ($scope.SelectedCCTV.Id <= 0) return;
            control_camera($scope.SelectedCCTV.Id, 'right', delta_pan);
        }
        //--
        $scope.CCTV_moveLeftBottom = function () {
            //if ($scope.SelectedCCTV.Id <= 0) return;
            control_camera($scope.SelectedCCTV.Id, 'leftbottom', -delta_pan, -delta_tilt);
        }

        $scope.CCTV_moveDown = function () {
            //if ($scope.SelectedCCTV.Id <= 0) return;
            control_camera($scope.SelectedCCTV.Id, 'down', -delta_tilt, -delta_tilt);
        }

        $scope.CCTV_moveRightBottom = function () {
            //if ($scope.SelectedCCTV.Id <= 0) return;
            control_camera($scope.SelectedCCTV.Id, 'rightbottom', delta_pan);
        }
        //===
        //zoom
        $scope.CCTV_zoomIn = function () {
            //if ($scope.SelectedCCTV.Id <= 0) return;
            control_camera($scope.SelectedCCTV.Id, 'zoomIn', delta_zoom);//zoomIn là zoom to vào 1 vị trí, giá trị phải cộng vô
        }

        $scope.CCTV_zoomOut = function () {
            //if ($scope.SelectedCCTV.Id <= 0) return;
            control_camera($scope.SelectedCCTV.Id, 'zoomOut', -delta_zoom);
        }
        //===
        //focus
        $scope.CCTV_focusIn = function () {
            //if ($scope.SelectedCCTV.Id <= 0) return;
            control_camera($scope.SelectedCCTV.Id, 'focusIn', -delta_focus);
        }

        $scope.CCTV_focusOut = function () {
            //if ($scope.SelectedCCTV.Id <= 0) return;
            control_camera($scope.SelectedCCTV.Id, 'focusOut', delta_focus);
        }
    }]);

</script>
