@using Template;
<!-- @(@Model.TableName) TAB -->
<div ng-controller="ChildController_@Model.TableName as child">
<!-- START CHILD CONTROLLER-->
<div class="tab-pane " ng-class="{active : (master.CurrentTab =='@Model.TableName')  }">
    <div class="box box-primary box-body" ng-if="master.CurrentTab =='@Model.TableName'">
        <!-- CHILD TOP BUTTONS -->
        <div class="row" >
            <div class="col-md-6 pull-right text-right" >
                <button class="btn btn-success  "  ng-disabled="!child.FormConfig._CanCreate" 
                    type="button" ng-click="child.AddItem()">
                    <i class="fa fa-plus white"></i> Thêm
                </button>
            </div>
        </div>

        <!-- CHILD FORM SEARCH -->
        <div class="row " style="padding-bottom: 10px; padding-top: 5px">
            <div class="col-sm-12">
            <form name="dataForm" novalidate ng-submit="child.Search()">
                <div class="row">
                    <div class="col-md-6">
                        @foreach (var col in @Model.Columns)
                        {
                            <!-- bỏ RefColumn -->
                            if (col.Name!=@Model.RefColumn && col.IsFilter && col.Position == EPosition.LEFT)
                            {
                                @iTemplate.HTML_Column_In_ChildSearchForm(@Model.TableName,col);
                            }
                        }
                    </div>

                    <div class="col-md-6">
                        @foreach (var col in @Model.Columns)
                        {
                            <!-- bỏ RefColumn -->
                            if (col.Name != @Model.RefColumn && col.IsFilter && col.Position == EPosition.RIGHT)
                            {
                                @iTemplate.HTML_Column_In_ChildSearchForm( @Model.TableName, col);
                            }
                        }
                    </div>
                </div>

                <!-- buttons -->
                <div class="row" style="margin-top:10px">
                        <div class="col-md-6" >

                        <!-- Clear -->
                        <button class="btn btn-primary" ng-click="child.ClearForm()" type="button">
                            <i class="fa fa-undo white"></i> Clear
                        </button>

                        <!-- Search -->
                        <button type="submit" id="btn-search" class="btn  btn-primary search"  >
                            <i class="fa fa-search" ng-hide="child.isSearching"></i>
                            <i class="fa fa-spinner white loading" ng-show="child.isSearching"></i>
                            Tìm kiếm
                        </button>
                    </div>
                </div>
            </form>   
            </div>
        </div>

        <!-- CHILD TABLE -->
        <div class="table-responsive">
        <table  class="table table-bordered table-striped table-hover table-condensed editable-table no-margin" 
            ng-form="child.TableForm._tableForm" 
            ng-table="child.TableForm.tableParams" >
            <tr ng-repeat="row in $data" >
                <td title="'#'" class="col-center">
                    <span>{{ ((child.TableForm.tableParams.page() - 1)  *child.TableForm.tableParams.count()) + ($index +1) }}</span>
                </td>

                @{var child_count_column = 2;}
                <!--------- data columns -------------->
                @foreach (var col in @Model.Columns)
                {
                    <!-- bỏ RefColumn -->
                    if (col.Name != @Model.RefColumn && col.IsView)
                    {
                        @iTemplate.HTML_Column_In_Table(col);
                        child_count_column++;
                    }
                }

                <!---------command buttons -------------->  
                <td width="100px" >
                    <!---edit--->
                    <button class="btn btn-default btn-sm" ng-click="child.Edit(row)" 
                        ng-if="child.FormConfig._CanUpdate"><span class="glyphicon glyphicon-pencil"></span></button>
                           
                    <!----del--->
                    <button class="btn btn-danger btn-sm" ng-click="child.Delete(row)" 
                        ng-if="child.FormConfig._CanDelete"><span class="glyphicon glyphicon-trash"></span></button>
                </td>
            </tr>
            <!--------------- table footer------------------>
            <tfoot>
                <tr>
                    <td colspan="@child_count_column"><label>Số records : {{child.TableForm.tableParams.total()}} </label></td>
                </tr>
            </tfoot>
        </table>
        </div>

        <div style="clear:both"></div>
    </div>
</div>

<!-- @(@Model.TableName) MODAL -->
<div ng-controller="controller_modal_@(@Model.TableName) as modal" >
<div id="Modal_@Model.TableName" class="modal fade " role="dialog" ng-init="modal.InitModal()">
    <div class="modal-dialog modal-md">
        <!-- MODAL CONTENT-->
        <div class="modal-content" ng-if="modal.IsShow">
            <div class="modal-header bg-light-blue white border-6">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title bold">@Model.Title</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="padding: 1px 15px; ">
                <!-- MODAL FORM -->
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-md-6">
                            @foreach (var col in @Model.Columns)
                            {
                                <!-- bỏ RefColumn -->
                                if (col.Name!=@Model.RefColumn && col.Position == EPosition.LEFT)
                                {
                                    @iTemplate.HTML_Column_In_EditFormModal(col);
                                }
                            }
                        </div>

                        <div class="col-md-6">
                            @foreach (var col in @Model.Columns)
                            {
                                <!-- bỏ RefColumn -->
                                if (col.Name!=@Model.RefColumn && col.Position == EPosition.RIGHT)
                                {
                                    @iTemplate.HTML_Column_In_EditFormModal(col);
                                }
                            }
                        </div>
                    </div>
                </div>
                
                </div>
            </div>

            <!-- MODAL BUTTONS -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <i class="fa-undo fa"></i>
                    Đóng
                </button>
                <button type="button" class="btn btn-primary" ng-click="modal.Save()">
                    <i class="fa-save fa"></i>
                    Lưu
                </button>
            </div>
        </div>
    </div>
</div>
</div>

<!-- END CHILD CONTROLLER-->
</div>