@using Template;
<!-- @(@Model.TableName) TAB -->
<div ng-controller="ChildController_@Model.TableName as child">
<!-- START CHILD CONTROLLER-->
<div class="tab-pane " ng-class="{active : (master.CurrentTab =='@Model.TableName')  }">
    <div class="box box-primary box-body" ng-if="master.CurrentTab =='@Model.TableName'">
        <!-- CHILD TOP BUTTONS -->
        <div class="row" >
             
            <div class="col-md-6 pull-right text-right" >
                <button class="btn btn-primary" ng-if="child.IsEditingDetail && child.FormConfig._CanUpdate" 
                    type="button" ng-click="child.SaveForm(false)">
                    <i class="fa fa-check white"></i>
                    <span>Lưu</span>
                </button>
                <button class="btn btn-warning" ng-if="!child.IsEditingDetail && child.FormConfig._CanUpdate" 
                    type="button" ng-click="child.EditForm()">
                    <i class="fa fa-edit white"></i><span>Sửa</span>
                </button>
            </div>
        </div>

        <!-- CHILD EDIT FORM -->
        <div class="row " >
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-md-6  col-sm-12">
                        @foreach (var col in @Model.Columns)
                        {
                            @** bỏ RefColumn **@
                            if (col.Name!=@Model.RefColumn  && col.Position == EPosition.LEFT)
                            {
                                @iTemplate.HTML_Column_In_EditForm("child",col);
                            }
                        }
                    </div>

                    <div class="col-md-6  col-sm-12">
                        @foreach (var col in @Model.Columns)
                        {
                            @** bỏ RefColumn **@
                            if (col.Name != @Model.RefColumn  && col.Position == EPosition.RIGHT)
                            {
                                @iTemplate.HTML_Column_In_EditForm("child", col);
                            }
                        }
                    </div>
                </div>

                  
            </div>
        </div>

      
        <div style="clear:both"></div>
    </div>
</div>

<!-- END CHILD CONTROLLER-->
</div>