@using Template;
@{
    var required = @Model.IsNullable? "" : "required";
}
@if (@Model.IsForeignKey && !@Model.IsImage && !@Model.IsFile)
{
<td  title="'@Model.Title'"  sortable="'@iTemplate.TableDotColumn(@Model.Name,@Model.ForeignColumnName)'" ng-form="@Model.Name" demo-tracked-table-cell>
    <span ng-if="!(row.isEditing || child.TableForm.isEditing)" class="editable-text" ng-bind="row.@iTemplate.NameOfForeignColumn(@Model.Name,@Model.ForeignColumnName)" ></span>
    @if (@Model.ForeignKeyType == EForeignKeyType.DROPDOWN)
    {
    <div ng-if="(row.isEditing || child.TableForm.isEditing)" class="controls" ng-class="@Model.Name.$invalid && @Model.Name.$dirty ? 'has-error' : ''" >
        <select class="form-control"  ng-model="row.@Model.Name"  name="@Model.Name" @required
            my-dropdown
            dropdown-id="@Model.Name" 
            dropdown-table="@Model.ForeignTable" 
            dropdown-condition="IsActive=1"
            dropdown-column-value="Id"
            dropdown-column-name="@Model.ForeignColumnName" 
            dropdown-empty-value=""
            dropdown-empty-text="--Chọn --" 
        check-empty="" check-empty-message="Vui lòng chọn." 
        ng-change="child.TableForm.SetValue('@Model.Name' ,row)">

        </select>
    </div>
    }
    else if (@Model.ForeignKeyType == EForeignKeyType.AUTOCOMPLETE)
    {
    }
    else //EForeignKeyType.SELECT_ON_MODAL
    {
    }
</td>
}
@*--------------------------------------------------------------------------------------*@
@*--------------------------------------------------------------------------------------*@
@*--------------------------------------------------------------------------------------*@
else if(@Model.IsImage){
<td  title="'@Model.Title'" align="center" ng-form="@Model.Name" demo-tracked-table-cell>
    <img id="{{'img_'+$index}}" ng-src="{{GetImageSrc(row.@Model.Name)}}" class="img-thumbnail img-clickable" title="" @required />
    <a ng-if="row.isEditing || child.TableForm.isEditing">Chọn file</a>
</td>
}
else if (@Model.IsFile)
{
    <TODO>IsFile : col_on_basechildtable</TODO>
}
else if (@Model.IsYear)
{
<td title="'@Model.Title'"  sortable="'@Model.Name'" ng-form="@Model.Name"  demo-tracked-table-cell>
    <span ng-if="!(row.isEditing || child.TableForm.isEditing)" class="editable-text" ng-bind="row.@Model.Name" ></span>
    <div ng-if="(row.isEditing || child.TableForm.isEditing)" class="controls" ng-class="@(@Model.Name).$invalid && @(@Model.Name).$dirty ? 'has-error' : ''" >
        <input type="text"  
            id="datepicker_@(@Model.Name)
            year-picker
            year-picker-id="datepicker_@(@Model.Name)"
            year-start="2010"
            year-end="2020" 
            name="@(@Model.Name)" ng-model="row.@(@Model.Name)" class="date-picker-year form-control" @required />
    </div>
</td>         
}
@*--------------------------------------------------------------------------------------*@
@*--------------------------------------------------------------------------------------*@
@*--------------------------------------------------------------------------------------*@
else if (@Model.Type == EType.DATETIME)
{
<td  title="'@Model.Title'"  sortable="'@Model.Name'" ng-form="@Model.Name"  demo-tracked-table-cell>
    <span  ng-if="!(row.isEditing || child.TableForm.isEditing)" class="editable-text" ng-bind="row.@Model.Name" ></span>
    <div ng-if="(row.isEditing || child.TableForm.isEditing)" class="controls" ng-class="@(@Model.Name).$invalid && @(@Model.Name).$dirty ? 'has-error' : ''" >
        <input data-inputmask="'alias': 'date'" name="@(@Model.Name)" ng-model="row.@(@Model.Name)" class="form-control" @required />
    </div>
</td>
}
else if(@Model.Type==EType.BIT)
{
<td  title="'@Model.Title'"  sortable="'@Model.Name'"  ng-form="@Model.Name" demo-tracked-table-cell>
    <input type="checkbox" name="@Model.Name" ng-model="row.@Model.Name"  ng-disabled="!(row.isEditing || child.TableForm.isEditing)"/>
</td>
}
else if (@Model.Type == EType.INT)
{
<td  title="'@Model.Title'"  sortable="'@Model.Name'" ng-form="@Model.Name"  demo-tracked-table-cell>
    <span ng-if="!(row.isEditing || child.TableForm.isEditing)" class="editable-text" ng-bind="row.@Model.Name" ></span>
    <div ng-if="(row.isEditing || child.TableForm.isEditing)" class="controls" ng-class="@(@Model.Name).$invalid && @(@Model.Name).$dirty ? 'has-error' : ''" >
        <input type="number" name="@(@Model.Name)" ng-model="row.@(@Model.Name)" class="editable-input form-control input-sm" @required />
    </div>
</td>
}
else if (@Model.Type == EType.FLOAT)
{
<td title="'@Model.Title'"  sortable="'@Model.Name'" ng-form="@Model.Name"  demo-tracked-table-cell>
    <span ng-if="!(row.isEditing || child.TableForm.isEditing)" class="editable-text" ng-bind="row.@Model.Name" ></span>
    <div ng-if="(row.isEditing || child.TableForm.isEditing)" class="controls" ng-class="@(@Model.Name).$invalid && @(@Model.Name).$dirty ? 'has-error' : ''">
        <input type="number" name="@(@Model.Name)" ng-model="row.@(@Model.Name)" class="editable-input form-control input-sm" @required />
    </div>
</td> 
}
else if (@Model.Type == EType.NTEXT)
{
<td title="'@Model.Title'"  sortable="'@Model.Name'" ng-form="@Model.Name"  demo-tracked-table-cell>
    <span  ng-if="!(row.isEditing || child.TableForm.isEditing)" class="editable-text" ng-bind="row.@Model.Name" ></span>
    <div ng-if="(row.isEditing || child.TableForm.isEditing)" class="controls" ng-class="@(@Model.Name).$invalid && @(@Model.Name).$dirty ? 'has-error' : ''" >
        <input type="text" name="@(@Model.Name)" ng-model="row.@(@Model.Name)" class="editable-input form-control input-sm" @required />
    </div>
</td>
}
else if (@Model.Type == EType.NVARCHAR || @Model.Type ==EType.VARCHAR)
{
<td  title="'@Model.Title'"  sortable="'@Model.Name'" ng-form="@Model.Name"  demo-tracked-table-cell>
    <span  ng-if="!(row.isEditing || child.TableForm.isEditing)" class="editable-text" ng-bind="row.@Model.Name" ></span>
    <div ng-if="(row.isEditing || child.TableForm.isEditing)" class="controls" ng-class="@(@Model.Name).$invalid && @(@Model.Name).$dirty ? 'has-error' : ''">
        <input type="text" name="@(@Model.Name)" ng-model="row.@(@Model.Name)" class="editable-input form-control input-sm" @required />
    </div>
</td>
}