@using Template;
@{
    var required = @Model.IsNullable? "" : "required";
}
<div class="row form-group">
    <div  class="col-md-4  "><label>@Model.Title </label></div>
    <div class="col-md-8">

        @*--------------------------------------------------------------------------------------*@
        @*------------------------------     Foreign Column   ----------------------------------*@
        @*--------------------------------------------------------------------------------------*@

        @if (@Model.IsForeignKey && !@Model.IsImage && !@Model.IsFile)
        {
            @*-------------------VIEW MODE----------------------*@
            <span ng-if="!@(@Model.Controller).IsEditingDetail" ng-bind="@(@Model.Controller).DataObject.@iTemplate.NameOfForeignColumn(@Model.Name,@Model.ForeignColumnName) || ''" class=""></span>
            
            
            @*-------------------EDIT MODE----------------------*@
            var width = "";
            if (@Model.ForeignKeyModal == EForeignKeyModal.ON_FLY_MODAL)
            {
                width = "width-80";
            }
            //============================================
            if (@Model.ForeignKeyType == EForeignKeyType.DROPDOWN)
            {
            <select ng-class="{'none-display' : !@(@Model.Controller).IsEditingDetail}"  class="form-control @width" ng-model="@(@Model.Controller).DataObject.@Model.Name" @required
                my-dropdown
                dropdown-id="edit_dd_@Model.Name"
                dropdown-table="@Model.ForeignTable"
                dropdown-condition="IsActive=1"
                dropdown-column-value="Id"
                dropdown-column-name="@Model.ForeignColumnName"
                dropdown-empty-value=""
                dropdown-empty-text="-- Chọn --"
                check-empty="" check-empty-message="Vui lòng chọn [@Model.Title].">
            </select>

            }
            else if (@Model.ForeignKeyType == EForeignKeyType.AUTOCOMPLETE)
            {
            <input ng-class="{'none-display' : !@(@Model.Controller).IsEditingDetail}" my-autocomplete  ng-model="@(@Model.Controller).DataObject.@iTemplate.NameOfForeignColumn(@Model.Name,@Model.ForeignColumnName)" @required
                autocomplete-id="edit_auto_@Model.Name"
                autocomplete-table="@Model.ForeignTable"
                autocomplete-condition=""

                autocomplete-column-value="Id" autocomplete-column-name="@Model.ForeignColumnName"
                autocomplete-column-filters="Id,@Model.ForeignColumnName"
                
                autocomplete-model-id="#auto_value_@Model.Name"
                class="form-control @width"
                placeholder="Tìm kiếm" />
            <input type="text" id="auto_value_@Model.Name" ng-model="@(@Model.Controller).DataObject.@Model.Name" class="none-display" />
                

            }else //EForeignKeyType.SELECT_ON_MODAL
            {
                <TODO>SELECT_ON_MODAL : col_on_editform</TODO>
            }
            
            @*-----------------------------------------------*@
            @*-------------------MODAL ----------------------*@
            if(@Model.ForeignKeyModal == EForeignKeyModal.ON_FLY_MODAL)
            {
            <text><button ng-if="@(@Model.Controller).IsEditingDetail" class="btn btn-primary btn-sm width-10" title="Quản lý [@Model.Title]" type="button"
                    data-toggle="modal" data-target="#ModalCol_@Model.ForeignTable">
                ...
            </button></text>
            }
        }
        
        @*--------------------------------------------------------------------------------------*@
        @*------------------------------     Image Column   ------------------------------------*@
        @*--------------------------------------------------------------------------------------*@
        
        else if(@Model.IsImage)
        {
            <input type="file" name="file" id="input_@Model.Name" accept="image/*"  class="none-display" @required/>
            <span><i class="fa fa-spinner white loading" ng-show="@(@Model.Controller).isLoadingImage"></i></span>
            <img ng-disabled="!@(@Model.Controller).IsEditingDetail" id="img_@Model.Name" ng-src="{{GetImageSrc(@(@Model.Controller).DataObject.@Model.Name)}}" class="img-thumbnail img-clickable" title="" />
        }
        
        @*--------------------------------------------------------------------------------------*@
        @*------------------------------     File Column   -------------------------------------*@
        @*--------------------------------------------------------------------------------------*@
        else if (@Model.IsFile)
        {
            <TODO>IsFile : col_on_editform</TODO>
        }
        
        @*--------------------------------------------------------------------------------------*@
        @*------------------------------     Year Column   -------------------------------------*@
        @*--------------------------------------------------------------------------------------*@
        else if (@Model.IsYear)
        {
            @*-------------------VIEW MODE----------------------*@
            <span ng-if="!@(@Model.Controller).IsEditingDetail" ng-bind="@(@Model.Controller).DataObject.@Model.Name || ''" class=""></span>
            
            @*-------------------EDIT MODE----------------------*@
                 var start_year = @DateTime.Now.Year - 5;
                 var end_year = @DateTime.Now.Year + 5;
            <input ng-if="@(@Model.Controller).IsEditingDetail" type="text" id="yearpicker_@Model.Name" class="date-picker-year form-control" @required
                year-picker
                year-picker-id="yearpicker_@Model.Name"
                year-start="@start_year"
                year-end="@end_year"
                ng-model="@(@Model.Controller).DataObject.@Model.Name" />
        }
        
        @*--------------------------------------------------------------------------------------*@
        @*------------------------------     DateTime Column   ---------------------------------*@
        @*--------------------------------------------------------------------------------------*@
        else if (@Model.Type == EType.DATETIME)
        {
            @*-------------------VIEW MODE----------------------*@
            <span ng-if="!@(@Model.Controller).IsEditingDetail" ng-bind="@(@Model.Controller).DataObject.@Model.Name || ''" class=""></span>
            
            @*-------------------EDIT MODE----------------------*@
            <input ng-if="@(@Model.Controller).IsEditingDetail" id="datetime_@Model.Name" data-inputmask="'alias': 'date'" class="form-control" @required/>
        }
        
        @*--------------------------------------------------------------------------------------*@
        @*------------------------------     Boolean Column   ----------------------------------*@
        @*--------------------------------------------------------------------------------------*@
        
        else if(@Model.Type==EType.BIT)
        {  
            <input  ng-disabled="!@(@Model.Controller).IsEditingDetail" type="checkbox" ng-model="@(@Model.Controller).DataObject.@Model.Name" />
        }
        
        @*--------------------------------------------------------------------------------------*@
        @*------------------------------     Integer Column   ----------------------------------*@
        @*--------------------------------------------------------------------------------------*@
        
        else if (@Model.Type == EType.INT)
        {
            @*-------------------VIEW MODE----------------------*@
            <span ng-if="!@(@Model.Controller).IsEditingDetail" ng-bind="@(@Model.Controller).DataObject.@Model.Name || ''" class=""></span>
            
            @*-------------------EDIT MODE----------------------*@
            <input ng-if="@(@Model.Controller).IsEditingDetail" class="form-control" type="number" ng-model="@(@Model.Controller).DataObject.@Model.Name" @required
                placeholder="Nhập [@Model.Title]" />
        }
        
        @*--------------------------------------------------------------------------------------*@
        @*------------------------------     Float Column   ------------------------------------*@
        @*--------------------------------------------------------------------------------------*@
        else if (@Model.Type == EType.FLOAT)
        {
            @*-------------------VIEW MODE----------------------*@
            <span ng-if="!@(@Model.Controller).IsEditingDetail" ng-bind="@(@Model.Controller).DataObject.@Model.Name || ''" class=""></span>
            
            @*-------------------EDIT MODE----------------------*@
            <input ng-if="@(@Model.Controller).IsEditingDetail" class="form-control" type="number" ng-model="@(@Model.Controller).DataObject.@Model.Name" @required
            placeholder="Nhập [@Model.Title]" />
        }
        
        @*--------------------------------------------------------------------------------------*@
        @*------------------------------     Ntext Column   ------------------------------------*@
        @*--------------------------------------------------------------------------------------*@
        else if (@Model.Type == EType.NTEXT)
        {
            <textarea ng-disabled="@(@Model.Controller).IsEditingDetail" id="textarea_@Model.Name" class="form-control" rows="3" @required
                ng-model="@(@Model.Controller).DataObject.@Model.Name"
                placeholder="Nhập [@Model.Title]">
            </textarea>
        }
        
        @*--------------------------------------------------------------------------------------*@
        @*------------------------------     Varchar Column   ----------------------------------*@
        @*--------------------------------------------------------------------------------------*@
        else if (@Model.Type == EType.NVARCHAR || @Model.Type ==EType.VARCHAR)
        {
            @*-------------------VIEW MODE----------------------*@
            <span ng-if="!@(@Model.Controller).IsEditingDetail" ng-bind="@(@Model.Controller).DataObject.@Model.Name || ''" class=""></span>
            
            @*-------------------EDIT MODE----------------------*@
            <input ng-if="@(@Model.Controller).IsEditingDetail" class="form-control" ng-model="@(@Model.Controller).DataObject.@Model.Name" @required
                placeholder="Nhập [@Model.Title]" />
        }
    </div>
</div>
