@using Template;
@{
    var required = @Model.IsNullable? "" : "required";
}
<div class="row form-group">
    <label class="col-md-4  ">@Model.Title </label>
    <div class="col-md-8">
        @if (@Model.IsForeignKey && !@Model.IsImage && !@Model.IsFile)
        {
            var width = "";
            if (@Model.ForeignKeyModal == EForeignKeyModal.ON_FLY_MODAL)
            {
                width = "width-80";
            }
            
            //========================================
            if (@Model.ForeignKeyType == EForeignKeyType.DROPDOWN)
            {
            //================================================================
        <select class="form-control @width" ng-model="@(@Model.Controller).DataObject.@Model.Name" @required
            my-dropdown
            dropdown-id="dd_@Model.Name"
            dropdown-table="@Model.ForeignTable"
            dropdown-condition="IsActive=1"
            dropdown-column-value="Id"
            dropdown-column-name="@Model.ForeignColumnName"
            dropdown-empty-value=""
            dropdown-empty-text="-- Chọn --"
            check-empty="" check-empty-message="Vui lòng chọn [@Model.Title].">
        </select>
  
                if(@Model.ForeignKeyModal == EForeignKeyModal.ON_FLY_MODAL)
                {
        <button class="btn btn-primary btn-sm width-10" title="Quản lý [@Model.Title]" type="button" 
                data-toggle="modal" data-target="#ModalCol_@Model.ForeignTable">
            ...
        </button>
                }
            //================================================================
            }
            else if (@Model.ForeignKeyType == EForeignKeyType.AUTOCOMPLETE)
            {
            //================================================================
        <input  my-autocomplete  ng-model="detail.DataObject.@iTemplate.NameOfForeignColumn(@Model.Name,@Model.ForeignColumnName)" @required
            autocomplete-id="auto_@Model.Name"
            autocomplete-table="@Model.ForeignTable"
            autocomplete-condition=""

            autocomplete-column-value="Id" autocomplete-column-name="@Model.ForeignColumnName"
            autocomplete-column-filters="Id,@Model.ForeignColumnName"
                
            autocomplete-model-id="#auto_value_@Model.Name"
            class="form-control @width"
            placeholder="Tìm kiếm" />
        <input type="text" id="auto_value_@Model.Name" ng-model="detail.DataObject.@Model.Name" class="none-display" />
             if(@Model.ForeignKeyModal == EForeignKeyModal.ON_FLY_MODAL)
                {
        <button class="btn btn-primary btn-sm width-10" title="Quản lý [@Model.Title]" type="button"
                data-toggle="modal" data-target="#ModalCol_@Model.ForeignTable">
            ...
        </button>
                }
                
            //================================================================
            }else //EForeignKeyType.SELECT_ON_MODAL
            {
            //================================================================
                <TODO>SELECT_ON_MODAL : col_on_searchform</TODO>
            //================================================================
            }
        }
        @*--------------------------------------------------------------------------------------*@
        @*--------------------------------------------------------------------------------------*@
        @*--------------------------------------------------------------------------------------*@
        else if(@Model.IsImage){
        <input type="file" name="file" id="input_@Model.Name" accept="image/*"  class="none-display" @required/>
        <span><i class="fa fa-spinner white loading" ng-show="@(@Model.Controller).isLoadingImage"></i></span>
        <img id="img_@Model.Name" ng-src="{{GetImageSrc(@(@Model.Controller).DataObject.@Model.Name)}}" class="img-thumbnail img-clickable" title="" />
        }
        else if (@Model.IsFile)
        {
            <TODO> IsFile: col_on_searchform</TODO>
        }
        else if (@Model.IsYear)
        {
             var start_year = @DateTime.Now.Year - 5;
             var end_year = @DateTime.Now.Year + 5;
        <input type="text" id="yearpicker_@Model.Name" class="date-picker-year form-control" @required
            year-picker
            year-picker-id="yearpicker_@Model.Name"
            year-start="@start_year"
            year-end="@end_year"
            ng-model="@(@Model.Controller).DataObject.@Model.Name" />
        }
        @*--------------------------------------------------------------------------------------*@
        @*--------------------------------------------------------------------------------------*@
        @*--------------------------------------------------------------------------------------*@
        else if (@Model.Type == EType.DATETIME)
        {
        <input id="datetime_@Model.Name" data-inputmask="'alias': 'date'" class="form-control" @required/>
        }
        else if(@Model.Type==EType.BIT)
        {
        <select class="form-control" yes-no-dropdown ng-model="@(@Model.Controller).DataObject.@Model.Name"  @required>
        </select>
        }
        else if (@Model.Type == EType.INT)
        {
        <input class="form-control" type="number" ng-model="@(@Model.Controller).DataObject.@Model.Name" @required
            placeholder="Nhập [@Model.Title]" />
        }
        else if (@Model.Type == EType.FLOAT)
        {
        <input class="form-control" type="number" ng-model="@(@Model.Controller).DataObject.@Model.Name" @required
        placeholder="Nhập [@Model.Title]" />
        }
        else if (@Model.Type == EType.NTEXT)
        {
        <textarea id="textarea_@Model.Name" class="form-control" rows="3" @required
            ng-model="@(@Model.Controller).DataObject.@Model.Name"
            placeholder="Nhập [@Model.Title]">
        </textarea>
        }
        else if (@Model.Type == EType.NVARCHAR || @Model.Type ==EType.VARCHAR)
        {
        <input class="form-control" ng-model="@(@Model.Controller).DataObject.@Model.Name" @required
            placeholder="Nhập [@Model.Title]" />
        }
    </div>
</div>
